@import "tailwindcss";

:root {
  --background: #a6ffcaca;
  --foreground: #0F2B30;

  --font-sans: "Inter", sans-serif;
}

/* Tailwind dark mode (class-based) */
.dark {
  --background: #0d0d0d;
  --foreground: #f5e7b6c4;
}

body {
  background-color: var(--background);
  padding: 1rem;
  color: var(--foreground);
  font-family: var(--font-sans);
  transition: background-color 0.3s, color 0.3s;
}
